body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {
  padding: 20px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header a {
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 5px 10px;
  background: black;
  color: white;
  border-radius: 10px;
}
#searchInput {
  padding: 10px;
  min-width: 200px;
  font-size: 20px;
  border: black 1px solid;
  border-radius: 10px;
  margin-bottom: 20px;
}
.movie-item {
  margin-bottom: 20px;
  width: 200px;
}
.movie-item img {
  height: 200px;
  width: 100%;
}
.movie-card {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}
.movie-card button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.movie-card button:hover {
  background-color: #555;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.cards-container div {
  margin: 10px;
}
